
# PostgreSQL
POSTGRES_DB=tasks
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend
PORT=4000
FRONTEND_ORIGIN=http://localhost:5173

# Frontend (Desenvolvimento)
VITE_API_BASE=http://localhost:4000
